import { OneOfModel } from '@rocket-scripts/openapi';

{{#hasImports}}
import {
  {{#imports}}
  {{{.}}},
  {{/imports}}
} from './';
{{/hasImports}}

/**
* @type {{classname}}
* {{#lambda.indented_star_1}}{{{unescapedDescription}}}{{/lambda.indented_star_1}}
*/
export type {{classname}} = {{#discriminator}}{{#mappedModels}}{ {{discriminator.propertyName}}: '{{mappingName}}' } & {{modelName}}{{^-last}} | {{/-last}}{{/mappedModels}}{{/discriminator}}{{^discriminator}}{{#oneOf}}{{{.}}}{{^-last}} | {{/-last}}{{/oneOf}}{{/discriminator}};

export const {{classname}}Model: OneOfModel = {
  classname: '{{classname}}',
  type: 'oneOf',
  {{#discriminator}}
  discriminator: {
    propertyName: '{{discriminator.propertyName}}',
    mappedModels: [
      {{#discriminator.mappedModels}}
      { mappingName: '{{mappingName}}', modelName: '{{modelName}}' },
      {{/discriminator.mappedModels}}
    ],
  },
  {{/discriminator}}
  {{^discriminator}}
  oneOf: [
    {{#oneOf}}
    '{{{.}}}',
    {{/oneOf}}
  ],
  {{/discriminator}}
}