import { TypeSerializer } from '@rocket-scripts/openapi';

{{#models}}
{{#model}}
import { {{classname}}Model } from './{{{ classFilename }}}';
{{/model}}
{{/models}}

{{#models}}
{{#model}}
export * from './{{{ classFilename }}}';
{{/model}}
{{/models}}

export const typeSerializer = new TypeSerializer({
  {{#models}}
  {{#model}}
  '{{classname}}': {{classname}}Model,
  {{/model}}
  {{/models}}
});
